.logo {
    width: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
}


/* section start*/
.section {
    width: 100%;
    height: 100vh;
}

#slide {
    background-image: url('../img/start.jpg');
    background-size: cover;
    background-position: center;
}

#slide_bg {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    /* position: static; */
}


.upper {
    padding-top: 36vh;
}

/* 獎品圖片輪播 */
.lower {
    position: absolute;
    top: 12.5%;
    margin-left: auto;
    margin-right: auto;
    left: 20px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
}

.custom-swiper-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 400px;
    height: 300px;
    margin-bottom: 60px;
}

.swiper-slide {
    overflow: hidden;
}

.img_shadow {
    box-shadow: 0px 18px 10px rgba(54, 53, 53, 0.308) !important;
}

/*更換獎品箭頭 */
.swiper-button-custom-prev,
.swiper-button-custom-next {
    padding: 1em;
    cursor: pointer;
    color: white;
    opacity: 0.4;
    transition: 0.1s;
    user-select: none;
}

.swiper-button-custom-prev:hover,
.swiper-button-custom-next:hover {
    opacity: 1;
    transform: scale(1.2);
}

.gift_text {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 180px;
}

.gift_text p {
    text-align: center;
    color: white;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 2;
    font-family: 'Noto Sans Traditional Chinese', sans-serif;
}

/* right */
.right {
    position: absolute;
    top: 42vh;
    right: 14vw;
}

.draw_btn {
    color: white;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 2;
    width: 160px;
    height: 160px;
    border-radius: 100px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 40px #FEC785;
    background: linear-gradient(0deg, rgb(0, 0, 0), rgb(55, 54, 54));
    transition: 0.5s;
}

.draw_btn:hover {
    background-color: #343333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 20px #FEC785;
    border: #eedc75f0 solid 10px;
    background: linear-gradient(0deg, rgb(60, 59, 59), rgb(55, 54, 54));
}

.draw_btn :active {
    background-color: #343333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 20px #FEC785;
    border: #eedc75f0 solid 10px;
    background: linear-gradient(0deg, rgb(60, 59, 59), rgb(55, 54, 54));
}

/* rwd */
#rwd_stage {
    background-image: url('../img/rwd/抽獎系統_03.jpg');
    background-size: cover;
    background-position: center;
    display: none;
}

#rwd_title {
    background-image: url('../img/rwd/title.jpg');
    background-size: contain;
    background-position: center;
    display: none;
}

#rwd_board {
    background-image: url('../img/rwd/抽獎系統_11.gif');
    background-size: contain;
    background-position: center;
    display: none;
}

#rwd_btn {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    text-align: center;
    display: none;
}

#rwd_result {
    background-image: url('../img/rwd/抽獎系統_06.jpg');
    background-size: contain;
    background-position: center;
    display: none;
}

/* section end */

/* RWD start*/
@media screen and (max-width:1450px) {
    .gift_text {
        bottom: 200px;
    }
}

@media screen and (max-width:1128px) {
    .gift_text {
        bottom: 221px;
    }

    .gift_text p {
        font-size: 30px;
    }
}

@media screen and (max-width:990px) {
    #slide_bg {
        display: none;
    }

    .section_rwd {
        width: 100%;
        height: 60vh;
    }

    #rwd_title {
        display: block;
    }

    .section_title_rwd {
        width: 670px;
        height: 180px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        left: 0;
    }

    #rwd_stage {
        display: block;
    }

    .section_board_rwd {
        width: 670px;
        height: 165px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        left: 0;
        margin-top: 160px
    }

    #rwd_board {
        display: block;
    }

    .section_result_rwd {
        width: 400px;
        height: 450px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        left: 0;
        margin-top: 480px;
    }

    #rwd_btn {
        display: block;
    }


    .draw_btn {
        font-size: 32px;
        font-weight: 600;
        letter-spacing: 2;
        width: 120px;
        height: 120px;
        margin-top: 330px;
    }

    #rwd_result {
        display: block;
    }

}

@media screen and (max-width:840px) {

    .section_title_rwd {
        width: 576px;
        height: 140px;
    }

    .section_board_rwd {
        width: 576px;
        height: 140px;
        margin-top: 130px
    }

    .draw_btn {
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 2;
        width: 90px;
        height: 90px;
        margin-top: 280px
    }

    .draw_btn:hover {
        border: #eedc75f0 solid 6px;
    }

    .draw_btn :active {
        border: #eedc75f0 solid 6px;
    }

    .section_result_rwd {
        width: 350px;
        height: 400px;
    }
}

@media screen and (max-width:768px) {}

@media screen and (max-width:576px) {

    .section_title_rwd {
        width: 400px;
        height: 100px;
    }

    .section_board_rwd {
        width: 400px;
        height: 90px;
        margin-top: 90px;
    }

    .draw_btn {
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 2;
        width: 90px;
        height: 90px;
        margin-top: 200px;
    }

    .draw_btn:hover {
        border: #eedc75f0 solid 6px;
    }

    .draw_btn :active {
        border: #eedc75f0 solid 6px;
    }

    .section_result_rwd {
        width: 300px;
        height: 350px;
    }
}

@media screen and (max-width:400px) {
    .section_title_rwd {
        width: 360px;
        height: 90px;
    }

    .section_board_rwd {
        width: 360px;
        height: 80px;
        margin-top: 80px;
    }

    .draw_btn {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0;
        width: 60px;
        height: 60px;
        margin-top: 10px;
    }

    .draw_btn:hover {
        border: #eedc75f0 solid 3px;
    }

    .draw_btn :active {
        border: #eedc75f0 solid 3px;
    }

    .section_result_rwd {
        width: 240px;
        height: 270px;
    }
}


/* RWD end */