<<<<<<< HEAD
=======
a.icon.item[href^="https://docs.google.com/spreadsheets"]>img {
    height: 40px;
}

#新增同學表單 {
    height: 1250px;
}

#新增獎品表單 {
    height: 300px;
}

iframe[id^="新增"][id$="表單"] {
    width: 100%;
    overflow: hidden;
}

>>>>>>> 4403cc6feedbca5bc222f6976a40811d072680f8
#抽獎系統分頁>iframe {
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100%;
}

#關閉導覽,
#選單說明按鈕,
#選單說明按鈕rwd,
#登入按鈕區塊>.button,
#登入按鈕區塊rwd>.button {
    cursor: pointer;
}

#關閉導覽>i.icon {
    margin-right: 20px;
}

.vh50 {
    height: 49.875vh;
}

.vh100 {
    height: 99.75vh;
}

.ui.grid {
    padding: 0 !important;
}

.pushable.segment {
    margin: 0 !important;
}


.fade.button {
    opacity: unset;
}

<<<<<<< HEAD
#使用者頭像 i img, #使用者頭像rwd i img {
=======
#使用者頭像 i img,
#使用者頭像rwd i img {
>>>>>>> 4403cc6feedbca5bc222f6976a40811d072680f8
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

iframe[name$="formResponse"] {
    width: 1px;
    height: 1px;
    position: absolute;
    top: -100px;
    display: none;
}

i img {
    height: 24px !important;
}

#載入提示 {
    z-index: 100;
}

#狀態欄 {
    white-space: pre-wrap;
    font-size: large;
}

.ui.modal p {
    white-space: unset !important;
}

.ui.modal,
#說明視窗.ui.modal {
    top: unset !important;
    left: unset !important;
}

.ui.inverted.footer.text.menu {
    background-color: #1b1c1d !important;
}

.ui.footer.menu img {
    height: 100% !important;
    width: 100% !important;
}

/* from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
#至頂按鈕 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 70px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 100;
    /* Make sure it does not overlap */
}

#開啟導覽 {
    display: flex;
    position: absolute;
    top: 1em;
    right: 3em;
    width: 60px;
}

.edit_btn {
    background-color: rgba(54, 123, 245, 1);
    cursor: pointer;
    font-size: medium;
    color: white;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 2em;
    border: none;
}

#edit_gift {
    background-color: rgba(243, 167, 46, 1);
    margin-left: 2em;
}

@media (max-width: 767px) {
    .mobilehide {
        display: none !important;
    }
}